@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --dark-text-blue: #51a4dc;
  --dark-bg-black: #34393e;
}

html.dark {
  color-scheme: dark;
}

img[lazy="loading"] {
  width: 30px;
}
